* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat", sans-serif;
}
body {
    min-height: 100vh;
    width: 100%;
    background-color: #7b7b7d;
    background-color: #2b2c33;
}
.cover{
    position: fixed;
    /* position: relative; */
    width: 100%;
    min-height: 100vh;
    z-index: 0;
}
.cover img{
    width: 250px;
    position: absolute;
    z-index: -1;
    top: 19%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.cover::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #7b7b7ddb; 
    background-color: #2b2c33db;
    border-radius: 20px;
    top: 0;
    left: 0;
    z-index: 0;
}
.header{
    width: 100%;
    z-index: 6;
    /* height: 150px; */
}
.header .container{
    width: 80%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.header .logo img{
    width: 180px;
}

.nav .icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:#991b30ec;
    display: flex;
    justify-content:center;
    align-items: center;    
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 3;               /* Z INDEX  WARNING  !!!!!!!! */
}
.nav .icon i{
    font-size: 25px;
    color: #2b2c33;
}
.about-container{
    position: relative;
    width: 95%;
    background-color: #28282960;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
    padding: 0 5px;
    /* overflow: hidden; */
    margin-bottom: 10px;
}
.about-container .ground{
    width: 100%;
    position: absolute;
    top: 60px;
}
.about-container .ground::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#282829, #2b2c3350);
    z-index: 1;
}
.about-container .ground img{
    width: 100%;
    z-index: 1;
    opacity: 0.8;
}
.about-container .header{
    position: relative;
    width: 100%;
    /* background-color: #ccc; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 0px;
    z-index: 4;                      /* Z INDEX  WARNING  !!!!!!!! */
}
.about-container .header .logo{
    position: absolute;
    top: 5px;
    left: -10px;
    z-index: 2;
}
.about-container .header .logo img{
    width: 75px;
}
.about-container .header .title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.about-container .header .title h3{
    font-family: "Noto Kufi Arabic", sans-serif;
    font-size: 26px;
    font-weight: 800;
    color: #991b30;
}
.about-container .header .title p{
    color: #fff;
}
.about-container .content{
    position: relative;
    width: 100%;
    direction: rtl;
    margin-top: 240px;
}
.about-container .content p{
    font-family: "Noto Kufi Arabic", sans-serif;
    color: #fff;
    font-size: 18px;
    display: block;
    margin-bottom: 25px;
}
.about-container .content .t1{
    position: absolute;
    width: 30%;
    left: -18px;
    top: 240px;
    /* border-top: 5px solid #991b30;
    border-right: 10px solid #991b30;
    border-radius: 10px; */
}
span{
    position: relative;
}
.about-container span::before{
    content: '';
    position: absolute;
    top: -60px;
    right: 235px;
    width: 70px;
    height: 120px;
    border-top:20px solid #991b30;
    border-right:20px solid #991b30;
    z-index: 100;
}
.about-container .content p:nth-child(3){
    width: 55%;
}
.t2 {
    width: 80%;
    position: absolute;
    left: 50%;
    top: 500px;
    transform: translateX(-50%);
}
.border2{
    position: relative;
}
.border2::before{
    content: '';
    position: absolute;
    width: 220px;
    height: 120px;
    border-top:20px solid #f8ba16;
    border-right:20px solid #f8ba16;
    right: 17px;
    top: -12px;
    border-radius: 10px;
}
.border2::after{
    content: '';
    position: absolute;
    width: 220px;
    height: 120px;
    border-bottom:20px solid #991b30;
    border-left:20px solid #991b30;
    left: 17px;
    top: 72px;
    border-radius: 10px;
}
